<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @products.each_with_index do |product, index|%>
      <li data-target="#carousel" data-slide-to="<%= index %>" class="<%= "active" if product == @products.first %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
        <div class="item<%= " active" if product == @products.first %>">
          <%= render partial: "products/productimage", locals: {product: product} %>
          <div class="carousel-caption">
            <h2><%= product.name %></h2>
          </div>
        </div>
      <% end %>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
<h3 class="headline_landingpage">Featured Product</h3>
<div class="list">
<%= render partial: 'products/product', locals: { product: @featured_product } %>
</div>
