<% if signed_in? %>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <h4>Add a review</h4>
    <div class="form-group">
      <%= f.label :body, "Rating" %>
      <div class="rating required">
      </div>
    </div>
    <div class="form-group">
      <%= f.label :body, "Comments" %>
      <%= f.text_area :body, class: "form-control comment-control", :required => true %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: "button btn-primary" %>
    <div>
  <% end %>
<% end %>
