<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to(product) do %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="product_cell">
          <%= image_tag(product.image_url, class: "img-responsive product_image") unless product.image_url.blank? %>
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <strong><%= product.price %></strong>
        </div>
      </div><!-- /col -->
    <% end %>
    <% end %>
  </div>
</div>

<!-- <div class="row">
  <% @products.each do |product| %>
    <div-class="col">
      <table>
      <td><%= product.image_url %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.colour %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </table>
    </div>
  <% end %>

<%= link_to 'New Product', new_product_path %>-->
