<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="back_link">
        <%= link_to 'Back to product overview', products_path %>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <% cache @product do %>
  <div class="row product_detail">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <div class="product_detail_imagebox">
      <%= render partial: "productimagedetail", locals: {product: @product} %>
      </div>
    </div>
    <div class="col-md-5">
      <h2>
        <%= @product.name %>
      </h2>
      <p>
        <%= @product.description %>
      </p>

      <p>
        <%= @product.colour %>
      </p>

      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>" id="average-rating"></div> </p>

      <strong>
        <%= number_to_currency(@product.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>
      </strong>

      <% if signed_in? %>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
      <% else %>
        <div class = "login_to_buy">
        <%= button_to('Jetzt einloggen um einzukaufen', new_user_session_path, method: :get, class: "btn-primary") %>
        </div>
      <% end %>

    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>User Reviews</h3>
        <%= render 'new_comment' %>
        <%= render 'comments' %>
        <%= will_paginate @comments %>
    </div>
  </div>
</div>
