<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik|Source+Sans+Pro" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>

    <div class="content">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="projectName navbar-brand">
              <a href="/">Bike Berlin</a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right mainmenu">
              <li>
                <%= link_to "Start", root_path, id: "home" %>
              </li>
              <li>
                <%= link_to "Produkte", products_path, id: "products" %>
              </li>
              <li>
                <%= link_to "About", simple_pages_about_path, id: "about" %>
              </li>
              <li>
                <%= link_to "Contact", simple_pages_contact_path, id: "contact" %>
              </li>
              <li>
                <%= form_with(url: products_path, method: 'get', local: true, class: "navbar-form") do |form| %>
                <div class="inner-addon right-addon">
                  <%= form.text_field :q, id: 'q', class: 'q', value: params[:q], placeholder: "Search products" %>
                  <i class="glyphicon glyphicon-search"></i>
                </div>
                <% end %>
              </li>
              <li class="cart" id="cart">
                <%= link_to orders_path do %>
                <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>My Cart
                <% end %>
              </li>
            </ul>
            <ul class="nav navbar-nav login">
              <li>
                <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                <%= link_to('Login', new_user_session_path) %>
                <% end %>
              </li>
            </ul>
          </div>
        </div> <!-- end nav container-->
      </nav>

      <%= yield %>
    </div>
    </div>
    <footer>
      <p class="copyright">&copy; 2017 Bike Berlin<p>
    </footer>
  </body>
</html>
